<style>
  html,
  table {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }

  .green {
    color: green;
  }

  .red {
    color: green;
  }

  .editable {
    position: relative;
    padding: 10px;
    border: 1px solid black;
  }

  .button {
    font-size: 18px;
    padding: 15px;
    margin: 20px;
    border: 3px solid black;
    color: black;
  }

  #restartButton {
    background-color: green;
  }

  #rebootButton {
    background-color: red;
  }

  .toggle-control {
    display: block;
    position: relative;
    padding-left: 100px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .toggle-control input:checked~.control {
    background-color: dodgerblue;
  }

  .toggle-control input:checked~.control:after {
    left: 55px;
  }

  .toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: darkgray;
    transition: background-color 0.15s ease-in;
  }

  .toggle-control .control:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: white;
    transition: left 0.15s ease-in;
  }

  .hidden {
    display: none;
  }

  /* Center the control */
  /*body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222229;
  color: white;
}*/
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  function checkPasswordLength() {
    var password = $("#wifiPassword").text();
    //alert("password: "+password);
    if (password.length < 8) { alert('Minimum password length is 8 characters.'); }
  }

  $(document).ready(function () {
    $('.editable').on('click', function (event) {
      var that = $(this);
      if (that.find('input').length > 0) {
        return;
      }
      var currentText = that.text();
      var eleId = event.target.id

      var $input = $('<input>').val(currentText)
        .css({
          'position': 'absolute',
          top: '3px',
          left: '3px',
          width: that.width(),
          height: that.height(),
          opacity: 0.9,
          padding: '10px'
        }).attr('id', eleId);

      $(this).append($input);
      $input.focus();

      // Handle outside click
      $(document).click(function (event) {
        if (!$(event.target).closest('.editable').length) {
          if ($input.val()) {
            var inputId = $input.attr('id');
            var inputVal = $input.val();
            var endPoint = "";

            that.text(inputVal);


            if (inputId == "generalInfo") { endPoint = "updateGeneralInfo"; }
            else if (inputId == "wifiPassword") {
              endPoint = "updateWifiPassword";
              //if(inputVal.length < 8) { alert('Minimum password length is 8 characters.'+inputVal); return; }
            }
            else { endPoint = "updateDeviceInfo"; }

            $.post(endPoint, { 'id': inputId, 'text': inputVal })

            //alert($input.attr('id') +": " + $input.val())
          }
          that.find('input').remove();
          checkPasswordLength();
          $(document).off('click');
        }
      });
    });

    $("#restartButton").click(function (event) {
      if (confirm("Are you sure you want to restart the IoTrimmer?")) {
        $.post("restart", { 'id': 'restartButton' });
      }
    });

    $("#rebootButton").click(function (event) {
      if (confirm("Are you sure you want to reboot the IoTrimmer?")) {
        $.post("reboot", { 'id': 'rebootButton' });
      }
    });
    // toggle iotrimmer on or off
    $(".enable").click(function (event) {
      if ($('.enable').prop('checked') == false) {
        if (confirm("Are you sure you want to disable the IoTrimmer?")) {
          $.post("stop");
        }
      }
      else {
        $.post("start");
      }
    });
  });
</script>
<h1>Welcome to IoTrimmer</h1>

<p>Your current WiFi password is shown below. You can edit it by clicking on it. Please note, that you have to restart
  IoTrimmer in order for the changes to take place. The password must be at least 8 characters long and must not contain
  a space<br>

<div class="editable" id="wifiPassword">${wifiPassword}</div>
</p>

<p>List of devices (monitored devices are displayed in green, not monitored devices are displayed in red).
  Click on the MAC address of the device to display the list of blocked domains.<br>
  <b>MAC address</b> is a unique identified of the device generated by the manufacturer. <br>
  <b>Vendor</b> is the manufacturer of the Wi-Fi chipset and may help to identify the device. <br>
  <b>IoT Device</b> - please, choose the device model, e.g. Ring Doorbell or TP Link Smart Plug HS110</br>
</p>

<table>
  <tr>
    <th width="200">MAC Address</th>
    <th width="350">Vendor</th>
    <th width="350">Model Name</th>
  </tr>
  % for mac, device in devices.items():
  <tr id="${device['mac']}" class="${device['class']}">
    <td>${device['mac']}</td>
    <td>${device['vendor']}</td>
    <td>${device['deviceInfo']}</td>
  <tr>
    <td colspan="3" class="hidden" id="${device['mac']}_trimlist">${device['trimlist']}</td>
  </tr>
  </tr>
  % endfor
</table>

<p>
<div style="font-size: 26px; font-weight: bold;">Enable IoTrimmer: <label class="toggle-control">
    <input class="enable" type="checkbox" checked="checked">
    <span class="control"></span>
  </label></div>
</p>